@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 3em 2em;

  font-family: "Poppins", sans-serif;
  color: #4d4f62;
}

h1 {
  font-weight: 200;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.25px;

  text-align: center;

  em {
    font-weight: 600;
    font-style: normal;
  }
}

.hero-text {
  margin: 0 auto;
  max-width: 540px;
}

.hero-text>p {
  margin-top: 1em;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.1px;
  text-align: center;
}

#feature-cards {
  margin: 0 auto;
  margin-top: 4em;
}

.accent {
  margin: 2em 0;
  /* Q: is it possible to write the rbga values as hex but with alpha/opacity still set? */
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  /* A: #83A6D280 is the `nearest` hex value; hex value */
  /* box-shadow: 0px 15px 30px -11px #83A6D280; */
  border-radius: 8px;
  padding: 2em 2em;
  overflow: hidden;
  position: relative;

  >h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 135%;
    letter-spacing: 0px;
  }

  >p {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
    color: #6A7178;
  }

  >img {
    padding: 2em 0 1em 0;
    float: right;
  }
}

.accent::before {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.cyan.accent::before {
  background-color: #44D3D2;
}

.red.accent::before {
  background-color: #EA5454;
}

.orange.accent::before {
  background-color: #FCAE4A;
}

.blue.accent::before {
  background-color: #549EF2;
}

#supervisor {
  grid-area: supervisor;
}

#karma {
  grid-area: karma;
}

#team-builder {
  grid-area: team-builder;
}

#calculator {
  grid-area: calculator;
}

/* This changes the layout for screens wider than 48em */
@media (min-width: 48em) {
  h1 {
    font-size: 36px;
  }

  #feature-cards {
    display: grid;
    gap: 2em;
    justify-content: center;
    grid-template:
      ".          team-builder team-builder ."
      "supervisor supervisor   karma        karma"
      ".          calculator   calculator   .";
    grid-template-columns: repeat(4, minmax(0, 157px));
    grid-template-rows: repeat(3, 1fr);
  }

  .accent {
    margin: 0;
  }
}

@media (min-width: 90em) {
  body {
    padding-top: 6.375em;
  }

  #feature-cards {
    margin-top: 4.625em;

    display: grid;
    gap: 2em;

    justify-content: center;
    align-content: center;

    grid-template:
      ".          team-builder ."
      "supervisor team-builder calculator"
      "supervisor karma        calculator"
      ".          karma        .";
    grid-template-columns: repeat(3, minmax(0, 350px));
    grid-template-rows: repeat(4, 1fr);
  }
}
